@import './constants/breakpoints';
@import './constants/typography';
@import './constants/colors';

@import './base/fonts';
@import './base/normalize';
@import './base/reset';

@import './mixins/responsive';
@import './mixins/text-style';
@import './mixins/positions';
@import './mixins/flexbox';
@import './mixins/border';

@import './layouts/grids';

// * {
//   font-family: $font-main;
// }

html {
  background-color: rgb(3, 4, 31);
}
